::selection{
background: #fff;
color: #81d47b;
}
Body, html{
Height:100%;
}
body{
background: #34495e url('https://i.ytimg.com/vi/hiiPDY5GJn4/maxresdefault.jpg') no-repeat;
background-size: auto 100%;
}

article{
width: 550px;
margin: 0 auto;
color: #fff;
text-align: center;
}

article h1{
text-align: center;
color: #fff;
}

article a{
color: #fff;
}



article .email_me{
color: #fff;
border: 1px solid #fff;
border-radius: 5px;
padding: 5px 10px 5px 10px;
line-height: 1.8em;
text-decoration: none;
display: inline-block;
margin: 20px;
}

article .email_me:hover{
background: #fff;
color: #81d47b;
}

article .butt{
background: rgba(192, 57, 43,1.0);
color: #fff;
padding: 5px;
border-radius: 5px;
}

.butt a{
text-decoration: none;
}
